$button-height: 4em;

.Toggle {
   border-radius: 0.2em;
   display: flex;
   overflow-y: hidden;
   max-height: $button-height;

   &-btn {
      // max-height: fit-content;
      background-color: gray;
      &-active {
         background-color: hsl(var(--button-color));
      }

      transition: background-color 200ms;
   }
}
